.header__pageTitle {
    background-color: #1520ab;
    color: #f0f8ff;
    padding: 10px 15px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 3px 3px 3px 0 hsl(0, 0%, 40%);
    text-align: center;
    margin-top: 20px;
}

.header__imageParagraph {
    text-align: center;
}

.header__image {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 3px 3px 3px 0 hsl(0, 0%, 40%);
}

.header__buttonsParagraph {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header__button {
    padding: 13px 10px;
    margin: 10px;
    background-color: #1587e9eb;
    color: #f0f8ff;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 0 hsl(0, 0%, 40%);
    flex: 0 0 295px;
}

.header__button:hover {
    background-color: #121bbc;
}

.header__button:active {
    background-color: crimson;
}