.navigation__paragraph {
    display: flex;
    flex-wrap: wrap;
}

.navigation__link {
    background-color: #1587e9eb;
    color: #f0f8ff;
    padding: 10px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 0 hsl(0, 0%, 40%);
    margin: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    flex: 1 0 160px;
}

.navigation__link:hover {
    background-color: #121bbc;
}

.navigation__link:active {
    background-color: crimson;
}